<%= form_with(model: user, local: true) do |form| %>

  <%= render "layouts/error_messages", obj: form.object %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, placeholder: "username here" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email, placeholder: "email here" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, placeholder: "password here" %>
  </div>

  <div class="actions">
    <%= form.submit(user.new_record? ? "sign up" : "update account") %>
  </div>
<% end %>
