<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if logged_in? && (current_user == @user || current_user.admin?) %>
  <p>
    <strong>Password:</strong>
    <%= link_to 'Edit profile', edit_user_path(@user) %>
  </p>
  <p>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "alert" %>
  </p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
