<nav>
  <div class="nav_language-option">
    <span>English</span>
    <span class="divider">/</span>
    <span>日本語</span>
    <span class="divider">/</span>
    <span>中文</span>
  </div>
  <%= link_to "Home", root_path %>

  <%= link_to "Tasks", tasks_path %>

  <div>
    <% if logged_in? %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div>
</nav>