<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %><%= " | " if :title != "" %>Starcloud CandyJars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div>
      <% flash.each_with_index do |message, i| %>
        <div class="flash-msg alert alert-<%= message[0] %>">
          <%= message[1] %>
          <button class="close-btn" onclick="document.getElementsByClassName('flash-msg')[<%= i %>].style.display='none'">
            <span>&times;</span>
        </button>
        </div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
